* {
  /* border: solid 1px red; */
}
:root {
  --background: #333333;
  --navbarLink: #e4e4e4;
  --navbarLinkHover: #b4b4b4;
  --noteContentFont: #e4e4e4;
  --noteBorder: #b4b4b4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  margin: 0;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: var(--navbarLink);
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 1.1em;
}
.navbar a:hover {
  text-decoration: underline;
  color: #b4b4b4;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noteShowForm{
  /* border: solid 1px rgb(30, 248, 1); */
  margin: 10px;
  /* height: 6vh; */
  margin-top: 5vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 2px gray;
  border-radius: 3px;
}


.noteForm>#noteTitle,
.noteForm>#noteSubmitButton,
.noteForm>#noteText {
  background-color: var(--background);
  color: var(--noteContentFont);
  border: none;
  outline: none;
}

.noteForm>#noteTitle,
.noteForm>#noteText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.noteForm>#noteTitle::placeholder,
.noteForm>#noteText::placeholder {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.noteForm>#noteTitle {
  border-bottom: solid 1px var(--noteBorder);
  height: 4vh;
}

.noteForm>#noteText {
  height: 5vh;
  resize: none;

}

.noteForm>#noteSubmitButton {
  border: solid 1px var(--noteBorder);
  border-radius: 5px;
  width: 15%;
  padding: 5px;
  margin: 10px;
  margin-left: auto;
}

.noteForm>#noteSubmitButton:hover {
  background-color: #3b3b3b;
}

.noteForm>#noteSubmitButton:active {
  background-color: #4d4c4c;
}

.noteForm>#noteText:focus {
  height: 5vh;
  overflow: hidden;
  overflow-wrap: break-word;

}

.noteForm>#noteTitle,
.noteForm>#noteSubmitButton {
  display: none;
}

.noteMain{
  position: relative;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.notes {
  column-count: 5;
  column-gap: 10px;
}
.note {
  padding: 1px;
  margin: 5px;
  width: 240px;
  border: solid 1px var(--noteBorder);
  border-radius: 5px;
  min-height: 76px;
  break-inside: avoid;
  word-wrap: break-word;
  margin-top: 0;
}
.noteContent {
  margin: 16px 12px;
  color: var(--noteContentFont);
} 
.noteShowText{
  word-wrap: break-word;
}
.noteShowTitle{
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (max-width: 1500px){
  .notes{
    column-count: 4;
  }
}
@media (max-width: 1100px){
  .notes{
    column-count: 3;
  }
}
@media (max-width: 875px){
  .notes{
    column-count: 2;
  }
}
@media (max-width: 565px){
  .notes{
    column-count: 1;

  }
}
@media (max-width: 290px){
  .note{
    width: 66vw;
    overflow: hidden;
  }
}
