:root {
  --background: #333333;
  --navbarLink: #e4e4e4;
  --navbarLinkHover: #b4b4b4;
  --noteContentFont: #e4e4e4;
  --noteBorder: #b4b4b4;
  --submitButtonHover: #3b3b3b;
  --submitButtonActive: #4d4c4c;
  --deleteButton: rgb(161, 16, 16);
  --deleteButtonHover: rgb(185, 1, 1);
  --deleteButtonActive: red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  margin: 0;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: var(--navbarLink);
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 1.1em;
}

.navbar a:hover {
  text-decoration: underline;
  color: #b4b4b4;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noteShowForm {
  margin: 10px;
  margin-top: 5vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 2px gray;
  border-radius: 3px;
}

.noteForm>#noteTitle,
.noteForm>#noteSubmitButton,
.noteForm>#noteText {
  background-color: var(--background);
  color: var(--noteContentFont);
  border: none;
  outline: none;
}

.noteForm>#noteTitle,
.noteForm>#noteText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.noteForm>#noteTitle::placeholder,
.noteForm>#noteText::placeholder {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.noteForm>#noteTitle {
  border-bottom: solid 1px var(--noteBorder);
  height: 4vh;
}

.noteForm>#noteText {
  height: 5vh;
  resize: none;

}

.noteForm>#noteSubmitButton {
  border: solid 1px var(--noteBorder);
  border-radius: 5px;
  width: 15%;
  padding: 5px;
  margin: 10px;
  margin-left: auto;
}

.noteForm>#noteSubmitButton:hover {
  background-color: var(--submitButtonHover);
}

.noteForm>#noteSubmitButton:active {
  background-color: var(--submitButtonActive);
}

.noteForm>#noteText:focus {
  height: 5vh;
  overflow: hidden;
  overflow-wrap: break-word;

}

.noteForm>#noteTitle,
.noteForm>#noteSubmitButton {
  display: none;
}

.noteMain {
  position: relative;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.notes {
  column-count: 5;
  column-gap: 0;
}

.note {
  padding: 1px;
  margin: 5px;
  width: 250px;
  border: solid 1px var(--noteBorder);
  border-radius: 5px;
  min-height: 76px;
  break-inside: avoid;
  word-wrap: break-word;
  margin-top: 0;
}

.noteContent {
  margin: 16px 12px;
  color: var(--noteContentFont);
}

.noteShowText {
  word-wrap: break-word;
}

.noteShowTitle {
  margin-bottom: 0;
  padding-bottom: 0;
}

.showNote {
  background-color: var(--background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  box-shadow: #b4b4b4;
}

.selectedNote {
  border: solid 1px var(--noteBorder);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#openTitle,
#openNote,
#editSubmitButton,
#deleteNoteButton {
  background-color: var(--background);
  color: var(--noteContentFont);
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

#openTitle,
#openNote,
#editSubmitButton,
#deleteNoteButton:focus {
  outline: none;
}

#openTitle {
  height: 5vh;
  border-bottom: solid 1px var(--noteBorder);
  resize: none;
}

#openNote {
  height: 50vh;
  padding-top: 10px;
  resize: none;
}

.selectedNoteButtons {
  padding: 10px;
  display: flex;
  margin-left: auto;
}

.selectedNoteButtons>#editSubmitButton,
.selectedNoteButtons>.deleteNoteButton {
  margin-left: 10px;
}

.selectedNoteButtons>#editSubmitButton {
  border: solid 1px var(--navbarLinkHover);
  width: 60px;
  height: 30px;
  border-radius: 3px;
}

.selectedNoteButtons>#editSubmitButton:hover {
  background-color: var(--submitButtonHover);
}

.selectedNoteButtons>#editSubmitButton:active {
  background-color: var(--submitButtonActive);
}

.selectedNoteButtons>.deleteNoteButton {
  background-color: var(--deleteButton);
  width: 70px;
  color: var(--noteContentFont);
  border-radius: 3px;
  border: none;
}

.selectedNoteButtons>.deleteNoteButton:hover {
  background-color: var(--deleteButtonHover);
}

.selectedNoteButtons>.deleteNoteButton:active {
  background-color: var(--deleteButtonActive);
}

.showConfirmDelete {
  background-color: var(--background);
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  box-shadow: #b4b4b4;
}

.confirmDelete {
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
  color: var(--noteContentFont);
  border: solid 1px var(--noteBorder);
  border-radius: 3px;
}

.confirmDeleteButton {
  width: 60px;
  height: 30px;
  border-radius: 3px;
  background-color: var(--deleteButton);
  color: var(--noteContentFont);
}

.confirmDeleteButton:hover {
  background-color: var(--deleteButtonHover);
}

.confirmDeleteButton:active {
  background-color: var(--deleteButtonActive);
}

@media (max-width: 1500px) {
  .notes {
    column-count: 4;
  }
}

@media (max-width: 1100px) {
  .notes {
    column-count: 3;
  }
}

@media (max-width: 875px) {
  .notes {
    column-count: 2;
  }
}

@media (max-width: 565px) {
  .notes {
    column-count: 1;

  }
}

@media (max-width: 290px) {
  .note {
    width: 66vw;
    overflow: hidden;
  }
}